<head>
  <meta charset="utf-8">
  <link rel="dns-prefetch" href="https://identity.netlify.com">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <script type=\"text/javascript\" charset=\"utf-8\">  (function (g, e, n, es, ys) {    g['_genesysJs'] = e;    g[e] = g[e] || function () {      (g[e].q = g[e].q || []).push(arguments)    };    g[e].t = 1 * new Date();    g[e].c = es;    ys = document.createElement('script'); ys.async = 1; ys.src = n; ys.charset = 'utf-8'; document.head.appendChild(ys);  })(window, 'Genesys', 'https://apps.inintca.com/genesys-bootstrap/genesys.min.js', {    environment: 'test',    deploymentId: '57c39e64-e5ad-4d87-be74-1ad7fd9713a0'  }); Genesys('configure', {  pluginmap: {Journey: `https://apps.inindca.com/journey/messenger-plugins/journey.min.js`},debug: true})</script>

  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
